:root {
  --color-primary: #ffffff;
}

html {
  display: inline-block;
  font-family: "aktiv-grotesk", sans-serif;
}

.btn-green {
  background-color: #cbfed5;
  color: black;
  border: none;
}

.btn-white {
  background-color: #e7e2e2;
  color: black;
  border: none;
}

.btn-dull-green {
  background-color: #dbe7d3;
  color: black;
  border: none;
}

a {
  text-decoration: none;
  color: #000;
}

.height {
  max-height: 100vh;
}

.bg-image1 {
  background-image: url('../images/smart-meal-main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-image {
  max-height: 100vh;
  min-height: 100vh;
}
