:root {
  --color-primary: #ffffff;
}

html {
  display: inline-block;
  font-family: "aktiv-grotesk", sans-serif;
}

.btn-green {
  background-color: #e4fdda;
  color: black;
  border: none;
}

.btn-pink {
  background-color: #e86d6d;
  color: black;
  border: none;
}


.btn-white {
  background-color: #e7e2e2;
  color: black;
  border: none;
}

.btn-dull-green {
  background-color: #dbe7d3;
  color: black;
  border: none;
}

.bg-green {
  background-color: #e4fdda;
  color: black;
}

.current {
  color: #e86d6d;
}

.pink {
  color: #e76d6d;
}

a {
  text-decoration: none;
  color: #000;
}

.bg-green {
  background-color: #e4fdda;
}

footer {
  border-top: 2px #000 solid;
  border-bottom: 2px #000 solid;
}

.border-r {
  border-right: 2px #000 solid;
}
